{% extends "base.html" %}
{% load static %}
{% block content %}
	
	<!-- START PAGE BANNER AND BREADCRUMBS -->
	<section id="page-banner">
		<div class="single-page-title-area overlay" data-background="assets/img/bg/slide1.jpg">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="single-page-title">
							<h2>Deposit to Account</h2>
						</div>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
		<div class="single-page-title-area-bottom">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Deposit Form</li>
						</ol>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
	</section>
	<!-- END PAGE BANNER AND BREADCRUMBS -->
	
	<!-- START CONTACT SECTION -->
    <section id="contactpage" class="section-padding">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>deposit to an existing account</h5>
						<h3>Depo<span>sit</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->
			
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title-2">
						<h3>Please Fill the Form</h3>
					</div>
				</div>
				<div class="col-lg-7 mx-auto">
					<div class="contact-form-wrapper">
						<div class="contact-form">
							<form id="contact-form" class="form" name="enq" method="POST" action="">
							{% csrf_token %}
								<div class="row">
									<div class="form-group col-12 mb-3">
										<label for="invest">What are you Depositing?</label>
										<div class="input-group">
										<select name="invest"  class="form-control required" autofocus required>
											<option value="bitcoin">BTC</option>
											<option value="ethereum">ETH</option>
										</select>
                                        
                                    </div>  
									</div>
									<div class="form-group col-12 mb-3">
										<label for="amount">Amount in USD</label>
										<div class="input-group">
                                            <input type="text" name="amount" placeholder="Amount in USD" class="form-control" id="amount" required>
                                        </div> 
									</div>
									
									<div class="form-group col-lg-12 mb-0 text-center">
										<div class="actions">
											<input value="Deposit" name="login" id="submitButton" class="btn btn-contact-bg" title="Click here to deposit!" type="submit">
											<img src="{% static 'assets/img/ajax-loader.gif' %}" id="loader" style="display:none" alt="loading" width="16" height="16">
										</div>
									</div>
								</div>
							</form>								
						</div>
					</div>
				</div>
				<div class="col-12 text-center">
					<p>Buy Crypto! Click <a href="https://www.moonpay.com/">Here</a></p>
				</div>
			</div>
			<!-- end row -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END CONTACT SECTION -->
	
	
{% endblock %}